@model QLBangHangA.Models.Entities.Category

@{
    ViewData["Title"] = "Delete";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
            <a asp-area="admin" asp-controller="home" asp-action="index">Trang chủ</a>
        </li>
        <li class="breadcrumb-item"><a asp-area="admin" asp-controller="adminCategory" asp-action="Index">Danh sách danh mục</a></li>
        <li class="breadcrumb-item active">Xóa danh mục</li>
    </ol>
</nav>
<div class="card container p-3">
    <h4>Xóa danh mục</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatDesc)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thumb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thumb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CatId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
