@using PagedList.Core.Mvc;
@using QLBangHangA.Models.Entities;
@model PagedList.Core.IPagedList<ApplicationUser>

@{
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active">Danh sách tài khoản - trang @ViewBag.CurrentPage</li>
    </ol>
</nav>


<div class="card">
    <div class="m-2 d-flex justify-content-end m-3 ">
        <div class="align-items-center">
        </div>
    </div>
    <div class="table-responsive ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width:10vw">ID</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Tên tài khoản</th>
                    <th scope="col">Email</th>
                    <th scope="col">Số điện thoại</th>
                    
                    <td scope="col"></td>

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>
                                <p class="mb-1">@item.FullName</p>
                            </td>
                            <td>
                                <p class="mb-1">@item.UserName</p>
                            </td>
                            <td>
                                <p class="mb-1">@item.UserName</p>
                            </td>
                            <td>
                                <p class="mb-1">@item.PhoneNumber</p>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-tone m-r-3 p-2" asp-area="admin" asp-controller="adminAccount" asp-action="Details" asp-route-id="@item.Id"> View</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    <nav class="m-3 mb-0" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <pager class="pager-container" list="@Model" asp-area="admin" asp-controller="adminAccount" asp-action="Index"></pager>
        </ul>
    </nav>
</div>
